/* Code CSS pour les écrans de 390px à 600px */

@media only screen and (min-width: 390px) and (max-width: 600px) {
  .footer-content {
    font-size: 1.6rem;
  }

  .img img {
    height: 40px;
  }

  .socials a i {
    font-size: 1.2rem;
      }
}


/* Code CSS pour les écrans de 360px */

@media only screen and (max-width: 360px) {
  footer {
    flex-direction: column;
  }

  .footer-content,
  .socials,
  .footer-bottom {
    flex-basis: auto;
    flex-grow: 1;
    width: 100%;
    margin: 10px 0;
  }

  .socials {
    justify-content: center;
  }

  .footer-content {
    font-size: 1.4rem;
  }

  .img img {
    height: 30px;
  }

  .socials a i {
    font-size: 1rem;
  }
}


/* Ajouter des règles de mise en page pour les écrans plus petits */
@media (max-width: 767px) {
  .icon-cards__content {
    transform: translateZ(-25vw) rotateY(0);
    margin-top: 20%;
  }
  
  .icon-cards__item:nth-child(1) {
    transform: rotateY(0) translateZ(25vw);
  }

  .icon-cards__item:nth-child(2) {
    transform: rotateY(120deg) translateZ(25vw);
  }

  .icon-cards__item:nth-child(3) {
    transform: rotateY(240deg) translateZ(25vw);
  }

  .icon-cards__item {
    max-width: 450px;
    margin: 0 auto;
  }
  
  
  .icon-cards__item img {
    max-width: 100%;
    height: auto;
  }
  
  /* Centrer les carrousels */
  .icon-cards {
    display: flex;
    justify-content: center;
  }
}

/* Ajouter des règles de mise en page pour les écrans encore plus petits */
@media (max-width: 480px){
  .icon-cards__content {
    transform: translateZ(-15vw) rotateY(0);
    margin-top: 65%;
  }
  
  .icon-cards__item {
    max-width: 450px;
    margin: 0 auto;
  }
  
  .icon-cards__item:nth-child(1) {
    transform: rotateY(0) translateZ(20vw);
  }
  .navbar-brand img {
      max-height: 50px;
    }
  .icon-cards__item:nth-child(2) {
    transform: rotateY(120deg) translateZ(20vw);
  }

  .icon-cards__item:nth-child(3) {
    transform: rotateY(240deg) translateZ(20vw);
  }
  
  .icon-cards__item img {
    max-width: 90%;
    height: auto;
  }
  .icon-cards {
    position: relative;
    display: flex;
    justify-content: center;
  }
}


@media screen and (max-width: 600px) {
  .carree {
    display: flex;
    text-align: center;
    margin: 0 auto;
    align-items: center;

  }

  .carre {
    height: 135px;
    width: 115px;
    margin: 7px;
    justify-content: center;
  }
  #icon{
      align-items: center;
      justify-content: center;
      float: left;
  }

  .carre:hover{
      box-shadow: 0 4px #9bdb71;
      background-color:#90c459 ;
      color: white;
      top: 2px; 
  }
  .carre:active {
      box-shadow: O 4px #9bdb71;
      background-color:#90bb61 ;
      color: white;
      top: 4px; 
}
#note{
  color: #000000;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 0.5em;
  font-weight: bold;
  justify-content: center;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

#icon
{
    float: left;
    clear: both;
}


#business
{
    float:right;
    top: 50px;
}

#intro
{
    justify-content: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 1.7em;
}

#intro2
{
    justify-content: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 1.7em;
}
}


@media (max-width: 480px){
#intro
{
  margin-top: 15%;
  font-size: 1.2rem;
  }
  #intro2
{
    font-size: 1.2rem;
    margin-top: 5%;
  }
  }

  @media (max-width: 480px){
    .Ecrit{
      font-size: 0.8rem;
      flex-direction: column;
      align-items: center;
      text-align: center;
      font-weight: 300;
    }
    .Ecrit img {
      max-width: 150px; 
      margin: 0;
  }
  .Ecrit span{
    font-weight: 600;
    font-size: 1.1rem;
}
  .footer{
    font-size: 15px;
  }
}